In [1]:
reg_data = [[65.75, 112.99],
       [71.52, 136.49],
       [69.40, 153.03],
       [68.22, 142.34],
       [67.79, 144.30],
       [68.70, 123.30],
       [69.80, 141.49],
       [70.01, 136.46],
       [67.90, 112.37],
       [66.49, 127.45]]

In [2]:
import pandas as pd
import numpy as np
import math
from collections import Counter

C:\Users\myrit\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
df = pd.DataFrame(reg_data, columns = ["Age", "Glucose"])

In [4]:
df

     Age  Glucose
0  65.75   112.99
1  71.52   136.49
2  69.40   153.03
3  68.22   142.34
4  67.79   144.30
5  68.70   123.30
6  69.80   141.49
7  70.01   136.46
8  67.90   112.37
9  66.49   127.45

In [5]:
age_query = 65
k = 3

##### Main Logic

In [18]:
def knn(data, query, distance_fn, choice_fn):
    print(query)
    neighbor_distance_and_indices = []
    for index, example in enumerate(data):
        distance = distance_fn(example[:-1], query)
        neighbor_distance_and_indices.append((distance, index))

    sorted_neighbor_distance_and_indices = sorted(neighbor_distance_and_indices)

    k_neighbor_distance_and_indices = sorted_neighbor_distance_and_indices[:k]

    k_nearest_labels = [data[i][-1] for distance, i in k_neighbor_distance_and_indices]
    print(sorted_neighbor_distance_and_indices)

    return choice_fn(k_nearest_labels)

In [19]:
def euclidean_distance(point1, point2, p = 2):
    sum_squared_distance = 0
    for i in range(len(point1)):
        sum_squared_distance += math.pow(point1[i] - point2[i], p) 
    return math.sqrt(sum_squared_distance)
     
def mean(labels):
    return sum(labels)/len(labels)

def mode(labels):
    return Counter(labels).most_common(1)[0][0]

In [38]:
age_query = 70
knn(data = reg_data, query= [age_query], distance_fn=euclidean_distance, choice_fn = mean)

[70]
[(0.010000000000005116, 7), (0.20000000000000284, 6), (0.5999999999999943, 2), (1.2999999999999972, 5), (1.519999999999996, 1), (1.7800000000000011, 3), (2.0999999999999943, 8), (2.2099999999999937, 4), (3.510000000000005, 9), (4.25, 0)]

143.66

In [32]:
[112.99, 127.45, 144.3]

[112.99, 127.45, 144.3]

In [ ]:
128.24666666666667